
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsla(0, 0%, 30%, 1);
  line-height: 2.5rem;
  text-decoration: none;
  margin: 1rem 0;
  padding: 0 1rem;
  width: 8rem;
  height: 2.5rem;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

a:hover {
  background: hsla(0, 0%, 0%, 0.05);
}
